*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(30, 30, 97)
}
#header {
    background-color: rgb(143, 15, 15);
    display: block;
    margin: 10px 20px 20px 20px;
    padding: 20px;
    border-radius: 15px;
}
.headertext{
    color: rgb(172, 170, 170);
}
#info{
    background-color: black;
    display: inline-block;
    width: 1580px;
    min-height: 400px;
    margin: 0px 5px 20px 20px;
    color: rgb(163, 196, 235);
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
    font-size: 24px;
}
h2{
    margin: 10px 0px 20px 0px
}
.infotext{
    margin: 10px;
}
.keytext{
    color: rgb(117, 81, 250)
}
#menu{
    background-color: rgb(3, 128, 133);
    padding: 20px 20px 20px 40px;
    margin: 0px 10px 20px 10px;
    display: inline-block;
    border-radius: 15px;
    vertical-align: top;
    width: 170px;
}
.submenu{
    margin: 0px 0px 0px 20px
}
.home{
    position: relative;
    right: 20px;
    display: inline;
}
a{
    color: rgb(0, 225, 255);
}
#footer{
    background-color: gray;
    display: block;
    padding: 25px 20px 20px 20px;
    margin: 10px 20px 20px 10px;
    border-radius: 15px;
    color: rgb(163, 196, 235);
    min-height: 25px;
    font-size: 20px;
}
.bullet{
    color:  rgb(163, 196, 235);
}